/* div,
body,
head {
    font-family: Arial, 'Times New Roman', 'Microsoft YaHei', SimHei;
    font: bold 12px/0.75em Arial, 'Times New Roman', 'Microsoft YaHei', SimHei;
} */

h1 {
    color: red;
}

h2 {
    color: orange;
}

h3 {
    color: rgb(0, 132, 255);
}

p {
    color: rgb(255, 189, 47);
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 50%;
}